* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'ubuntu';
}

.flex {
    display: flex;
}

.title {
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    margin: 0;
    padding: 3rem;
    padding-bottom: 0;
    background-color: #f0f0f0;
    .flex {
        position: relative;
        height: 2rem;
        align-items: center;
    }
    .flex:first-of-type {
        margin-right: 1rem;
    }
    h1, h3 {
        width: fit-content;
        margin: 0;
    }
    h3 {
        font-weight: 500;
    }
}

@media screen and (max-width: 510px) {
    .title > .flex:last-of-type {
        margin-top: 2rem;
        height: fit-content;
    }
}

.interactions {
    background-color: #f0f0f0;
    justify-content: space-between;
    padding: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.interaction {
    max-width: 500px;
    background-color: white;
    border-radius: 1rem;
    flex: 1;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    text-align: center;
    padding: 0 2rem 2rem 2rem;
    *:not(h1) {
        margin: 0;
    }
    h1 {
        margin-left: 0;
        margin-right: 0;
    }
}

.add, .small-inputs, .description-input {
    flex-direction: column;
}

.small-inputs, .description-input {
    flex: 1;
}

form {
    justify-content: center;
    gap: 0.5rem;
    label:not(:first-of-type) {
        margin-top: 0.5rem
    }
}

.description-input > textarea {
    flex: 1;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
    form {
        flex-direction: column;
    }
}

.collection {
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem;
    justify-content: center;
}

.sock {
    background-color: #f0f0f0;
    height: 200px;
    width: 200px;
    text-align: center;
    align-content: center;
}

.XS {
    scale: 0.6;
}

.S {
    scale: 0.7;
}

.M {
    scale: 0.8;
}

.L {
    scale: 0.90;
}

.XL {
    scale: 1;
}

.blue {
    .cuff, .heel {
        background-color: dodgerblue;
    }
    .toe {
        background: repeating-linear-gradient(
                transparent,
                transparent 50%,
                dodgerblue 50%,
                dodgerblue
        )
    }
    .sock-ankle, .sock-foot {
        background-color: lightblue;
    }
}

.red {
    .cuff, .heel {
        background-color: darkred;
    }
    .toe {
        background: repeating-linear-gradient(
                transparent,
                transparent 50%,
                darkred 50%,
                darkred
        )
    }
    .sock-ankle, .sock-foot {
        background-color: #ffc8c8;
    }
}

.green {
    .cuff, .heel {
        background-color: darkgreen;
    }
    .toe {
        background: repeating-linear-gradient(
                transparent,
                transparent 50%,
                darkgreen 50%,
                darkgreen
        )
    }
    .sock-ankle, .sock-foot {
        background-color: darkseagreen;
    }
}

.yellow {
    .cuff, .heel {
        background-color: orange;
    }
    .toe {
        background: repeating-linear-gradient(
                transparent,
                transparent 50%,
                orange 50%,
                orange
        )
    }
    .sock-ankle, .sock-foot {
        background-color: #ffffc2;
    }
}

.purple {
    .cuff, .heel {
        background-color: rebeccapurple;
    }
    .toe {
        background: repeating-linear-gradient(
                transparent,
                transparent 50%,
                rebeccapurple 50%,
                rebeccapurple
        )
    }
    .sock-ankle, .sock-foot {
        background-color: #ffbdff;
    }
}

.white {
    .cuff, .heel {
        background-color: darkgrey;
    }
    .toe {
        background: repeating-linear-gradient(
                transparent,
                transparent 50%,
                darkgrey 50%,
                darkgrey
        )
    }
    .sock-ankle, .sock-foot {
        background-color: #fafafa;
    }
}

.sock-BG {
    padding: 0.5rem;
    height: 420px;
    width: 250px;
    position: relative;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: start;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
    transition: scale 0.25s;
}

.sock-BG:hover {
    scale: 1.05;
}

.sock-container {
    height: 280px;
    width: 250px;
    position: relative;
    background-color: #f0f0f0;
}

.sock-ankle {
    position: absolute;
    height: 70%;
    width: 40%;
    left: 20%;
    border-radius: 0 0 0 40%;
    z-index: 1;
}

.stripes {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 6.70%, 17.60%, 0)'/><path d='M0 10h20z'   stroke-width='4' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.zigzag {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 6.70%, 17.60%, 0)'/><path d='M-5 5L5.1 15 15 5l10 10'  stroke-linecap='square' stroke-width='1.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.plaid {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 0)'/><path d='M18.35 0l-.03 1.67L20 0zm3.3 0l-3.33 3.33.03 1.67 3.33-3.33zm.03 3.33l-3.36 3.34v1.66L21.65 5zm0 3.34L18.35 10l-.03 1.68 3.36-3.35zM21.65 10l-3.33 3.32.03 1.68 3.33-3.32zm.03 3.32l-3.36 3.36v1.64L21.65 15zm-3.36 5L15 21.65l1.68.03L18.35 20l-.03 1.68 1.68-.03-1.68 1.68.03 1.67 3.33-3.32-.03-1.68 1.68-1.68h-1.65v-1.64L20 18.35zm3.36 3.36h1.65l3.34-3.36-1.67.03zM3.33 18.32l-1.68.03L0 20v1.65zm3.34 0L5 18.35l-3.33 3.33h1.66zm1.66 0L5 21.65l1.67.03L10 18.35zm3.35 0l-3.35 3.36 1.67-.03 3.32-3.33zm5 0l-1.68.03-3.32 3.33h1.64zm11.65 0L25 21.65l1.67.03L30 18.35zM30 20l-1.67 1.68 1.67-.03zm-8.32 3.33l-3.36 3.34v1.66L21.65 25zm0 3.34L18.35 30H20l1.68-1.67z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/><path d='M10 30v-1.65L8.35 30zm-3.35 0L10 26.65V25l-5 5zM10 15L0 25v1.65l10-10zm0 3.35l-10 10V30l10-10zM3.35 30L10 23.35v-1.7L1.65 30zM5 10l-5 5v1.65L6.65 10zm-3.35 0L0 11.65v1.7L3.35 10zM10 10H8.35L0 18.35V20zm0 1.65l-10 10v1.7l10-10zM10 0v10H0V0h10v1.65L11.65 0M20 6.65L16.65 10h1.7L20 8.35 28.35 0h-1.7zM23.35 0L20 3.35 13.35 10H15l5-5 5-5zM30 0L20 10h1.65L30 1.65zm-1.65 10L30 8.35v-1.7L26.65 10zM25 10l5-5V3.35L23.35 10zM16.65 0L10 6.65v1.7L18.35 0zM20 1.65L21.65 0H20L10 10h1.65zM15 0h-1.65L10 3.35V5z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 0%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.spots {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 6.70%, 17.60%, 0)'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.floral {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 6.70%, 17.60%, 0)'/><path d='M44.11 8.56c-.065.316-.192.615-.24.931-.037.395-.11.796-.083 1.197.016.564.113 1.127.287 1.664.166.405.303.835.577 1.187.225.358.456.724.788.994.222.222.483.42.614.718.4.748.164 1.758-.536 2.242-.663.515-1.69.47-2.285-.131-.414-.374-.525-.936-.717-1.433-.195-.513-.238-1.06-.316-1.599 0-.442-.015-.886.008-1.327.073-.471.115-.955.235-1.42.081-.295.195-.578.303-.864.195-.472.436-.924.74-1.334.176-.282.439-.515.61-.809zm-2.819.134L38.42 14.01a1.83 1.83 0 01-2.446.745c-.878-.452-1.197-1.569-.745-2.446a2 2 0 01.745-.745zm.16-2.819a11.23 11.23 0 01-.771.638c-.49.34-1.008.652-1.581.832-.469.208-.978.308-1.484.387-.373.019-.736.106-1.112.084-.525.01-1.054-.003-1.566-.128-.563-.05-1.082-.293-1.612-.473-.832-.31-1.33-1.285-1.087-2.14.225-.892 1.211-1.49 2.107-1.28.45.09.836.38 1.111.738.274.272.54.558.89.73.347.243.713.455 1.117.586.428.163.87.291 1.329.322.578.108 1.18.056 1.755-.03.315-.026.605-.176.904-.266zm3.377.612a1.33 1.33 0 01-1.33-1.33 1.33 1.33 0 011.33-1.33 1.33 1.33 0 011.33 1.33 1.33 1.33 0 01-1.33 1.33zM41.439 44.11c-.315-.065-.614-.192-.93-.24-.395-.037-.796-.11-1.197-.083a5.959 5.959 0 00-1.664.287c-.405.166-.835.303-1.187.577-.358.225-.724.456-.994.788-.222.222-.42.483-.718.614-.748.4-1.758.164-2.242-.536-.515-.663-.47-1.69.131-2.285.374-.414.936-.525 1.433-.717.513-.195 1.06-.238 1.599-.316.442 0 .885-.015 1.326.008.472.073.956.115 1.421.235.295.081.578.195.864.303.472.195.924.436 1.334.74.282.177.515.439.809.61zm-.133-2.819L35.99 38.42a1.83 1.83 0 01-.745-2.446c.452-.878 1.569-1.197 2.446-.745a2 2 0 01.745.745zm2.819.16a11.223 11.223 0 01-.638-.771c-.34-.49-.652-1.008-.832-1.581-.208-.469-.308-.978-.387-1.484-.019-.373-.106-.736-.084-1.112-.01-.525.003-1.054.128-1.566.05-.563.293-1.082.473-1.612.31-.832 1.285-1.33 2.14-1.087.892.225 1.49 1.211 1.28 2.107-.09.45-.38.836-.738 1.111-.272.274-.558.54-.73.89-.243.347-.455.713-.586 1.117-.163.428-.291.87-.322 1.329-.108.578-.056 1.18.03 1.755.026.315.176.605.266.904zm-.612 3.377a1.33 1.33 0 011.33-1.33 1.33 1.33 0 011.33 1.33 1.33 1.33 0 01-1.33 1.33 1.33 1.33 0 01-1.33-1.33zM5.89 41.439c.065-.315.192-.614.24-.93.037-.395.11-.796.083-1.197a5.955 5.955 0 00-.287-1.664c-.166-.405-.303-.835-.577-1.187-.225-.358-.456-.724-.788-.994-.222-.222-.483-.42-.614-.718-.4-.748-.164-1.758.536-2.242.663-.515 1.69-.47 2.285.131.414.374.525.936.717 1.433.195.513.238 1.06.316 1.599 0 .442.015.885-.008 1.326-.073.472-.115.956-.235 1.421-.081.295-.195.578-.303.864a6.282 6.282 0 01-.74 1.334c-.176.282-.439.515-.61.809zm2.819-.133l2.871-5.317a1.83 1.83 0 012.446-.745c.878.452 1.197 1.569.745 2.446a2 2 0 01-.745.745zm-.16 2.819c.247-.226.507-.437.771-.638.49-.34 1.008-.652 1.581-.832.469-.208.978-.308 1.484-.387.373-.019.736-.106 1.112-.084.525-.01 1.054.003 1.566.128.563.05 1.082.293 1.612.473.832.31 1.33 1.285 1.087 2.14-.225.892-1.211 1.49-2.107 1.28-.45-.09-.836-.38-1.111-.738-.274-.272-.54-.559-.89-.73-.347-.243-.713-.455-1.117-.586-.428-.163-.87-.291-1.329-.322-.578-.108-1.18-.056-1.755.03-.315.026-.605.176-.904.266zm-3.377-.612a1.33 1.33 0 011.33 1.33 1.33 1.33 0 01-1.33 1.33 1.33 1.33 0 01-1.33-1.33 1.33 1.33 0 011.33-1.33zM8.561 5.89c.315.065.614.192.93.24.395.037.796.11 1.197.083a5.959 5.959 0 001.664-.288c.405-.165.835-.302 1.187-.576.358-.225.724-.456.994-.788.222-.222.42-.483.718-.614.748-.4 1.758-.164 2.242.536.515.663.47 1.69-.131 2.285-.374.414-.936.525-1.433.717-.513.195-1.06.238-1.599.316-.442 0-.885.015-1.326-.008-.472-.073-.956-.115-1.421-.235-.295-.081-.578-.195-.864-.303a6.281 6.281 0 01-1.334-.74c-.282-.177-.515-.439-.809-.61zm.133 2.819l5.317 2.871a1.83 1.83 0 01.745 2.446c-.452.878-1.569 1.197-2.446.745a2 2 0 01-.745-.745zm-2.819-.16c.226.247.437.507.638.771.34.49.652 1.008.832 1.581.208.469.308.978.387 1.484.019.373.106.736.084 1.112.01.525-.003 1.054-.128 1.566-.05.563-.293 1.082-.473 1.612-.31.832-1.285 1.33-2.14 1.087-.892-.225-1.49-1.211-1.28-2.107.09-.45.38-.836.738-1.111.272-.274.558-.54.73-.89.243-.347.455-.713.586-1.117.163-.428.291-.87.322-1.329.108-.578.056-1.18-.03-1.755-.026-.315-.176-.605-.266-.904zm.612-3.377a1.33 1.33 0 01-1.33 1.33 1.33 1.33 0 01-1.33-1.33 1.33 1.33 0 011.33-1.33 1.33 1.33 0 011.33 1.33zm22.515 22.552c2.052-.142 2.476-1.875 2.476-2.724 0-.849-.46-2.582-2.476-2.724C26.951 22.135 24.97 25 24.97 25s2.016 2.83 4.032 2.724zm-6.756 1.308c.142 2.052 1.875 2.476 2.724 2.476.849 0 2.582-.46 2.724-2.476C27.835 26.981 24.97 25 24.97 25s-2.83 2.016-2.724 4.032zm-1.308-6.756c-2.052.142-2.476 1.875-2.476 2.724 0 .849.46 2.582 2.476 2.724C22.989 27.865 24.97 25 24.97 25s-2.016-2.83-4.032-2.724zm6.756-1.308c-.142-2.052-1.875-2.476-2.724-2.476-.849 0-2.582.46-2.724 2.476C22.105 23.019 24.97 25 24.97 25s2.83-2.016 2.724-4.032z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.check {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='100' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 6.70%, 17.60%, 0)'/><path d='M12.5 0L0 25l12.5 25L25 25 12.5 0zm25 50L25 75l12.5 25L50 75 37.5 50z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/><path d='M37.5 0L50 25 37.5 50 25 25zm-25 50L25 75l-12.5 25L0 75z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 0%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.waves {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='22' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 6.70%, 17.60%, 0)'/><path d='M-4.798 13.573C-3.149 12.533-1.446 11.306 0 10c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='2.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.sock-ankle {
    -webkit-clip-path: polygon(100% 75%, 25% 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(0% 0%, 100% 0%, 100% 62%, 25% 100%, 0% 99%);

}

.cuff {
    position: absolute;
    width: 100%;
    height: 20%;
}

.heel {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0 40%;
}

.heel {
    clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0% 100%);
}

.sock-foot {
    position: absolute;
    border-top: none;
    height: 50%;
    width: 42%;
    transform-origin: top left;
    transform: rotate(-45deg);
    top: 60%;
    left: 21%;
    border-radius: 20% 0 0 0;
}

.toe {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -30%;
    border-radius: 50%;
);
}

.description {
    overflow-wrap: break-word;
    padding: 0.5rem;
    position: absolute;
    width: 100%;
    border-radius: 1rem;
    background-color: grey;
    transition: all 0.5s;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 30%;
    overflow-y: hidden;
    bottom: 0;
    h3, .description-container {
        height: 2rem;
        padding: 0;
    }
    .description-container {
        position: relative;
        overflow-y: hidden;
        transition: all 0.5s;
    }
    h3 {
        font-size: 2rem;
        margin: 1rem;
    }
    p {
        margin-top: 0;
        font-size: 1.5rem;
    }
}

.cover{
    position: absolute;
    height: 2rem;
    width: 4rem;
    top: 0;
    right: 0;
    background-color: gray;
    text-align: start;
    transition: all 0.75s;
}

.description:hover {
    height: 100%;
    animation: unset;
    .description-container {
        height: 100%;
    }
    .cover {
        background-color: transparent;
        color: transparent;
        transition: all 0s;
    }
}