* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    padding: 0;
    margin: 0;
}
.flex {
    display: flex;
    flex-direction: column;
}
.container {
    height: 100%;
    gap: 20px;
    padding: 20px;
}
form, .collection {
    width: 100%;
    background-color: lightgrey;
    border-radius: 1rem;
}
form {
    text-align: center;
    padding: 30px;
}
.collection {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.sock {
    border: solid 1px black;
    width: 10rem;
    height: 10rem;
    text-align: center;
    border-radius: 1rem;
}